$purple:#853AFF;
$light-purple:#7770FF;
$purple-tertiary:#A67DEA;
$teal: #5ED9EA;
$dark-purple: #2B2A3A;
$purple-secondary:#433BA9;
$success-lighter:#4CFF53;
$blue:#366AB8;
$dark:#212529;
$purple-gray:#373546;
$custom-colors:(
    'blue':$blue,
    'purple':$purple,
    'purple-secondary':$purple-secondary,
    'light-purple':$light-purple,
    'teal':$teal,
    'dark-purple':$dark-purple,
    'purple-tertiary':$purple-tertiary,
    'success-lighter':$success-lighter,
    'purple-gray':$purple-gray,
);